@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: black;
}
.skill {
  @apply bg-customPurple text-white font-bold  rounded-2xl cursor-pointer hover:bg-customDarkPurple text-pretty px-4;
}
.projectTiles {
  @apply grid sm:grid-cols-1 text-xs md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 p-4 mx-auto;
}
.projectTitle {
  @apply sm:text-sm underline font-bold break-words;
}
.projectDesc {
  @apply sm:text-xs;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
